<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>

    <style>
    .led {
      padding: 10px;
      border-width: 1px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 15px;
    }

    .true {
      border-color: green;
      background-color: green;
    }

    .false {
      border-color: red;
      background-color: red;
    }



    </style>
    <title>Document</title>
</head>

<body class="bg-gray-800 text-gray-300 container">

    <div class="p-6 grid grid-cols-4 gap-4">

        <div>
            <form hx-target="#frame" hx-swap="innerHTML" hx-post="/send-message">
                <div>
                    <label for="message">Mensagem para o MQTT: </label>
                    <br>
                    <input name="message"
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                        id="message" placeholder="Mensagem...">
                </div>
                <br>
                <div>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Enviar</button>
                </div>
            </form>
        </div>

        <div></div>

        <div>
            <br>
            <button hx-trigger="click" hx-target="#led1" hx-swap="outerHTML" hx-post="/led1"  name="led1" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> Led 1</button>
            <div id="led1" class="led false"></div>  
      </div>

      <!--   <div>
            <br>
            <button hx-trigger="click"   hx-target="#led2" hx-swap="outerhtml" hx-post="/led2"   name="led2" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> led 2 </button>
            <div id="led2" class="led false"></div>  
      </div>
      -->
        <div hx-get="/sensor" hx-trigger="every 3s" hx-swap="innerHTML" class="text-8xl">
            
        </div>

    </div>

    <iframe style="display: none;" id="frame" name="frame"></iframe>
</body>

</html>
